    .dropdown {
        margin: 20px;
        padding: 0 24px;
        width: 200px;
    }

    .chartContainer {
        display: flex;
        margin: 20px;
    }

    .serverPlot {
        margin: 20px 0;
    }